export PORT=8080
export MYSQL_DSN=admin:admin@tcp(localhost:3306)/weather-db?charset=utf8mb4&parseTime=true&loc=Local
export REDIS_ADDR=localhost:6379
export REDIS_PASSWORD=
export WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
export WEATHER_API_KEY=
